
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif 
}

body {
    background-color: #00000000;
    color: #fff;
    padding: 50px 8%;
}


h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    font-weight: 700;
}


.reason.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    height: 100%;
    
}

.box {
    background: linear-gradient(145deg, #1c1c1c, #111);
    padding: 30px;
    border-radius: 15px;
    width: 23%;
    min-width: 250px;
    transition: 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.15);
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(255, 0, 0, 0.4);
}

.box h3 {
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #fff4f5;
}


.box p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #b3b3b3;
}

@media (max-width: 1024px) {
    .box {
        width: 48%;
    }
}

@media (max-width: 600px) {
    .box {
        width: 100%;
    }

    h2 {
        font-size: 2rem;
    }
}

