.logos {
  width: 190px;
  cursor: pointer;
  margin-left: 120px;
  display: block;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 0 0 120px;
  padding: 0 32px;
}

nav button {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  /* padding: 7px 20px; */
  font-size: 15px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

  div {
    margin-right: 300px;
    padding: 3px;
  }

  .lang {
    padding: 6px 36px 6px 34px;
    width: 124px;
    height: 32px;
  }

  .sign {
    /* padding: 6px 36px 6px 34px; */
    width: 77px;
    height: 33px;
    position: absolute;
  }

  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(background_netflix.jpg);
    background-size: cover;
    /* background-position: center; */
    padding: 10px 8%;
    position: relative;
    /* background-repeat: no-repeat; */

  }

  /* --------------------Suvo----------------------- */
  .content {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    color: rgb(34, 30, 30);
    /* z-index: 3; */
    width: 933px;
    height: 496px;
    justify-content: center;
    /* font-family: Oswal; */

  }

  .content h1 {
    font-size: 50px;
    margin-bottom: 15px;
    color: white;
    font-family: 'Anton', sans-serif;
    font-weight: 890;
    font-size: 900;

  }

  .content h2 {
    font-size: 26px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Anton', sans-serif;
  }

  .content p {
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
    font-family: 'Anton', sans-serif;
  }

  .email-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 0.5px;
    margin-top: 60px;
    width: 100%;
    gap: 10px;
  }

  .email-box input {
    padding: 15px;
    width: 300px;
    border: none;
    font-size: 16px;
    background-color: #2923233d;
    border: 1px solid white;
    border-radius: 10px;
  }

  .email-box button {
    background: red;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    cursor: pointer;
    letter-spacing: 2px;
    border-radius: 10px;
  }
  .tren{
    text-align: left;
    margin-right: 2000px;
    width: 100%;
  }
  